.container {
  display: flex;
  /* height: 100vh; */
  height: auto;
  background: #020617;
}

/* LEFT */
.leftPane {
  width: 50%;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #1e293b;
}

/* RIGHT */
.rightPane {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #020617;
}

/* Editor Header */
.editorHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.editorHeader select {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
}

.runBtn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.runBtn:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}

/* Code Editor */
.editor {
  flex: 1;
  background: #0f172a;
  color: #e5e7eb;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-family: monospace;
  font-size: 14px;
  resize: none;
  outline: none;
}

/* Output */
.outputBox {
  margin-top: 12px;
  background: #0f172a;
  border-radius: 8px;
  padding: 12px;
  color: #e5e7eb;
}

.outputBox h4 {
  margin-bottom: 6px;
  font-size: 14px;
  color: #a5b4fc;
}

.outputBox pre {
  white-space: pre-wrap;
  font-size: 13px;
}

.ioBox {
  margin-top: 12px;
}

.ioBox textarea {
  width: 100%;
  min-height: 80px;
  background: #0f172a;
  color: #e5e7eb;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: monospace;
}

.error {
  color: #fecaca;
}